html, body {
    background-color: #f8cb74;
}

h1 {
    font-family: robotoBold;
}

p {
    font-family: robotoRegular;
}

.social-logo {
    fill: #fff;
}

.social-logo:hover {
    fill: #f8cb74;
}

.content {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.content-card {
    background-color: #333;
    padding: 2rem;
}

.description {
    display: flex;
    justify-content: center;
}

.description p {
    margin-top: 0;
}

.links {
    display: flex;
    justify-content: center;
}

.social-logos {
    display: flex;
    justify-content: center;
}

.social-logo {
    fill: #fff;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.social-logo:hover {
    fill: #f8cb74;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: robotoBold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: robotoRegular;
    src: url(./static/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(./static/RobotoMono-Bold.ttf);
}